<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.iwish.taxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ray_ru_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PaymentOptionActivity">

        </activity>
        <activity android:name=".activity.PaymentSuccessfully" />
        <activity android:name=".activity.MoneyAddWalletActivity" />
        <activity android:name=".activity.GpsActivity" />
        <activity android:name=".activity.InternetActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.BillActivity" >

        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.DropPlaceLocation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api" />

        <activity android:name=".activity.MainActivity" />

        <service
            android:name=".websocket.SocketService"
            android:enabled="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_zvQhBxwwcpaCDA" />
    </application>

</manifest>